/*****************************************
Bootstrap responsive pricing tables v.1.0. 
http://www.sitediscount.ru
ArtLabs
2013
*****************************************/


/*********************** GLOBAL STYLES **********************/


* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.row-fluid{
	max-width: 32rem;
	min-width: 12rem;
	margin: 0 auto;

}
/**************************** PRICE BOX BODY **************************/
.pricing-table {
	text-align:center;
	font-weight:400;
	margin-bottom: 0;
	padding-left:35px;
	padding-right:35px;
	padding-top:25px;
	padding-bottom:50px;
	background:transparent url(../images/black.png) repeat top left;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;

}

/********************************** BOX CONTENT ************************/
.pricing-table-sign-up {
	border-top:1px solid #BDC3C7;
	padding:10px 20px;
	text-align:center;
	background:#ECF0F1;
}

.pricing-table-features p {
	
	padding:5px 20px;
	text-align:center;
}
.pricing-table-features p:nth-child(2n){
	background:#ECF0F1;
}

.pricing-table-features, .pricing-table-space{
	background:#fff;
}

.pricing-table p{
		padding:5px;
		margin-top:5px;
		font-size:110%;
		font-weight:400;
		background:#fff;
}
.pricing-table p strong{
	font-weight:600;
}
	
	
/********************************* BOX HEADER ********************************/
.pricing-table .pricing-table-header {
	color:#fff;
	background-color: rgba(40,40,40,0.6);
	padding:0px;
}

	.pricing-table-header .heading{
	display:inline-block;
	width:100%;
	padding:15px 0px;
	text-transform:uppercase;
	
}

/**************************** COLOR BOX HEDER ***************************/

.pricing-table .pricing-table-header .price-value{
	background: rgba(255,174,94,0.6);

}

.pricing-table-header .price-value {
	display:inline-block;
	width:100%;
	padding:20px 0px;
	background: #1ABC9C;
}

.pricing-table-header .price-value span{
	font-size:300%;
}
.pricing-table-header .price-value span.mo{
	font-size:200%;
}

/****************************** HEADINGS AND BUTTONS STYLES**********************/


h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 4px;
  margin-top: 2px; }

h4 {
  font-size: 18px;
  font-weight: 500;
  margin-top: 4px; }

h5 {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase; }

h6 {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase; }
  

/************************************************************/